@import "../../base/typography";
.card {
  display: flex;
  background-color: var(--color-brand-600);
  flex-direction: column;
  padding: $padding-lg;
  justify-content: space-between;
  border-radius: 2rem;
  height: 15rem;
  flex-shrink: 0;
  font-size: $p-size;
  min-width: 30rem;
  box-shadow: var(--shadow-lg);
  color: $color-white;
  &-container {
    display: flex;
    gap: 10rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }
  &-balance,
  &-name {
    display: flex;
    flex-direction: column;
  }
  &-name-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &-placeholder {
    font-size: $h3-size;
  }
}
// .indiana-scroll-container {
//   display: flex;
//   overflow: auto;
//   cursor: grab;
//   gap: 5rem;
//   grid-row: 1/3;
// }

.indiana-scroll-container--hide-scrollbars {
  display: flex;
  align-items: center;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.indiana-scroll-container--hide-scrollbars::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  background: transparent !important;
  -webkit-appearance: none !important;
}
.main-card-container {
  grid-row: 1/3;
  grid-column: 7/-1;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
