.card-operations {
  &-container {
    display: flex;
    align-items: center;
    gap: $gap-lg;

    @include respond(tab-port) {
      flex-direction: row;
    }
    @media (max-width: 400px) {
      flex-direction: column;
      gap: $gap-lg;
    }
  }

  &-item {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
