.dark-mode {
  &-btn {
    background-color: transparent;
    border: none;
    padding: $padding-md;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-indigo-700);
  }
}
