.login-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 48rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  //   background-color: $slate-100;
  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  &-text {
    text-align: center;
    font-size: 2rem;
  }
  &-button {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
    margin-top: 2rem;
  }
  @media (max-width: 500px) {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: var(--color-grey-300);
  padding: 3rem;
  border-radius: 2rem;
  padding-top: 5rem;
  &-container {
    display: flex;
    width: 100%;
  }
}
