.btn {
  padding: $padding-sm;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  &-operations {
    height: 5rem;
    width: 15rem;
    font-size: $h3-size;
    background-color: var(--color-brand-600);
    color: $color-white;
    box-shadow: var(--shadow-lg);
    &:hover {
      background-color: var(--color-brand-700);
    }

    @include respond(tab-port) {
      width: 80%;
    }
  }

  &-form {
    width: 50%;
    font-size: $h4-size;
    background-color: var(--color-brand-600);
    color: var(--color-grey-800);
    box-shadow: var(--shadow-lg);
    &:hover {
      background-color: var(--color-brand-700);
    }
  }

  &-transactions {
    height: 4rem;
    width: 30%;
    background-color: var(--color-grey-200);
    color: var(--color-grey-800);

    @include respond(tab-port) {
      margin-bottom: 5rem;
    }

    &:hover {
      background-color: var(--color-grey-300);
    }

    &:active,
    &:focus {
      background-color: var(--color-brand-600);
      color: var(--color-brand-50);
    }
  }
  &-login {
    background-color: var(--color-indigo-100);
    color: var(--color-grey-800);
    width: 100%;
    font-size: $p-size;
  }
  &-sign {
    width: 100%;
    font-size: $p-size;
  }

  &-logout {
    background-color: transparent;
    border: none;
    color: var(--color-indigo-700);
    cursor: pointer;
    font-size: 2rem;
    padding: $padding-md;
  }
}
.active {
  color: var(--color-grey-600);
}
