.btn {
  padding: $padding-sm;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  &-operations {
    height: 75%;
    width: 50%;
    font-size: $h3-size;
    background-color: var(--color-brand-600);
    color: var(--color-grey-800);
    box-shadow: var(--shadow-lg);
  }

  &-transactions {
    height: 4rem;
    width: 30%;
    background-color: var(--color-grey-200);
    color: var(--color-grey-800);

    &:active,
    &:focus {
      background-color: var(--color-brand-600);
    }
  }
  &-login {
    background-color: var(--color-indigo-100);
    color: var(--color-grey-800);
  }

  &-logout {
    background-color: transparent;
    border: none;
    color: var(--color-indigo-700);
    cursor: pointer;
    font-size: 2rem;
    padding: $padding-md;
  }
}
.active {
  color: var(--color-grey-600);
}
